@model ProdottoDettaglioModel
@{

    ViewData["Title"] = "Dettaglio Prodotto - ";
}

<div class="row">
    <div class="col-lg-4 col-sm-5 mx-auto">
<div class="card" style="">
    <img class="card-img-top img-fluid"
          style="max-height:600px"
         src="@Model.Immagine"
         alt="Card image cap"
         id="mainProductImage">
</div>
</div>
    <div class="col-lg-4 col-sm-5 mx-auto">
        <div class="card" style="width: 30rem;">
            <div class="card-body" id="@Model.productId">
                <h4 class="h4">
                        @Model.Nome
                </h4>
                <p class="card-text">
                        <strong>Descrizione :</strong> @Model.Descrizione
                </p>
                  <div class="row">
                    <button type="button" class="btn btn-danger my-2">Aggiungi al Carrello</button>
                    <button type="button" class="btn btn-success my-2">Acquista subito !</button>
                </div>
                <h2 class="h2 text-center">
                    Altre Immagini
                </h2>
                  <div class="row">
                    <img src="@Model.Immagine"
                         style="object-fit:contain; height:80px"
                         class="rounded-2 col-3 carouselImage"
                         alt="prodotto">

                    <img src="@Model.ImmagineAlt"
                         style="object-fit:contain; height:80px"
                         class="rounded-2 col-3 carouselImage"
                         alt="prodotto">
                    
                  </div>
            </div>
        </div>
</div>
</div>
<script src="~/js/DettaglioImmagine.js"></script>





