@model List<Prodotto>;

@{
    string Categoria = ViewBag.NomeCategoria;
    ViewData["Title"] = $"EpiTech - {Categoria}";
}

<div>
    <h2 class="fw-bold">@ViewBag.NomeCategoria:</h2>
    <p class="fw-bold opacity-75">@ViewBag.NomeCategoria di alta qualità al miglior prezzo. Elettronica ricondizionata con min. 12 mesi di garanzia.</p>

</div>
<hr />

<div class="container">
    <div class="row justify-content-center">
        @* TODO inserire controlli NULL *@
        @foreach (var product in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 border-0 shadow-sm">
                    <a asp-controller="Dettaglio" asp-action="Index" asp-route-id="@product.IdProdotto"><img src="@product.Immagine" class="card-img-top" alt="@product.Nome" style="height: 150px; object-fit: contain;"></a>
                    <div class="card-body p-3">
                        <a asp-controller="Dettaglio" asp-action="Index" asp-route-id="@product.IdProdotto" class="card-title h6 fw-bold mb-1 custom-card-detail">@product.Nome</a>
                        <a asp-controller="Dettaglio" asp-action="Index" asp-route-id="@product.IdProdotto"><p class="card-text fw-bold mb-2" style="color: #1B3A2A;">€ @product.Prezzo.ToString("N2")</p></a>
                    </div>
                    <form asp-controller="Carrello" asp-action="AggiungiAlCarrello" method="post" asp-route-id="@product.IdProdotto" asp-route-number="1">
                        <input type="hidden" name="idProdotto" value="@product.IdProdotto" />
                        <button type="submit" class="btn BtnCustomHome CategoryBtn btn-sm w-100">Acquista Ora</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

